# Example terraform.tfvars file
# Copy this to terraform.tfvars and fill in your values

root_ou_id                          = "<root ou id>"
region                              = "us-east-1"
saml_metadata_document_xml_content  = "<paste xml saml metadata content obtained from admin page in the britive ui>"
s3_bucket_name                      = "<name of the bucket created earlier that holds the britive_integration_resources.yaml template>"
s3_key_for_iam_resources_template   = "britive_integration_resources.yaml"
tenant_name                         = "<name of your britive tenant - omit '.britive-app.com'>"
deploy_aws_invalidation_feature     = true
