adal==1.2.7
aenum==3.1.11
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
arrow==1.3.0
asn1crypto==1.5.1
attrs==23.2.0
aws-sam-cli==1.120.0
aws-sam-translator==1.89.0
aws_lambda_builders==1.50.0
azure-common==1.1.28
azure-core==1.30.2
azure-graphrbac==0.61.1
azure-identity==1.17.1
azure-mgmt-authorization==4.0.0
azure-mgmt-core==1.4.0
azure-mgmt-resource==23.1.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
binaryornot==0.4.4
blinker==1.8.2
boto3==1.34.162
boto3-stubs==1.34.131
botocore==1.34.162
botocore-stubs==1.34.147
britive==3.0.0
bump2version==1.0.1
bumpversion==0.6.0
cachetools==5.4.0
cdpcli==0.9.120
certifi==2024.7.4
cffi==1.16.0
cfn-lint==1.8.2
chardet==5.2.0
charset-normalizer==3.3.2
chevron==0.14.0
click==8.1.7
colorama==0.4.6
cookiecutter==2.6.0
cryptography==43.0.0
dateparser==1.2.0
decorator==5.1.1
docker==7.1.0
docutils==0.14
ecdsa==0.19.0
Fabric3==1.14.post1
Flask==3.0.3
flatdict==4.0.1
frozenlist==1.4.1
ghp-import==2.1.0
google-api-core==2.19.1
google-auth==2.32.0
google-cloud-compute==1.19.1
googleapis-common-protos==1.63.2
grpcio==1.65.1
grpcio-status==1.65.1
idna==3.8
importlib_metadata==8.1.0
iniconfig==2.0.0
isodate==0.6.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
Jinja2==3.1.4
jmespath==1.0.1
jschema-to-python==1.2.3
jsonpatch==1.33
jsonpickle==3.2.2
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
junit-xml==1.9
jwcrypto==1.5.6
keyring==25.2.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
merge-args==0.1.5
mergedeep==1.3.4
mkdocs==1.6.0
mkdocs-click==0.8.1
mkdocs-get-deps==0.2.0
more-itertools==10.3.0
mpmath==1.3.0
msal==1.30.0
msal-extensions==1.2.0
msrest==0.7.1
msrestazure==0.6.4.post1
multidict==6.0.5
mypy==1.11.1
mypy-boto3-apigateway==1.34.137
mypy-boto3-cloudformation==1.34.111
mypy-boto3-ecr==1.34.140
mypy-boto3-iam==1.34.83
mypy-boto3-kinesis==1.34.0
mypy-boto3-lambda==1.34.77
mypy-boto3-s3==1.34.138
mypy-boto3-schemas==1.34.0
mypy-boto3-secretsmanager==1.34.145
mypy-boto3-signer==1.34.95
mypy-boto3-sqs==1.34.121
mypy-boto3-stepfunctions==1.34.137
mypy-boto3-sts==1.34.0
mypy-boto3-xray==1.34.0
mypy-extensions==1.0.0
networkx==3.3
nh3==0.2.18
oauthlib==3.2.2
okta==2.9.7
packaging==24.1
paramiko==2.12.0
pathspec==0.12.1
pbr==6.0.0
pip-check==2.8.1
pkginfo==1.10.0
platformdirs==4.2.2
pluggy==1.5.0
portalocker==2.10.1
proto-plus==1.24.0
protobuf==5.27.2
psutil==6.0.0
pure25519==0.0.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybritive==1.8.3
pycparser==2.22
pycryptodomex==3.20.0
pydantic==2.8.2
pydantic_core==2.20.1
pydash==8.0.3
Pygments==2.18.0
PyJWT==2.8.0
PyNaCl==1.5.0
pyOpenSSL==24.2.1
pyte==0.8.2
pytest==8.3.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-slugify==8.0.4
pytz==2024.1
PyYAML==6.0.2
pyyaml_env_tag==0.1
readme_renderer==44.0
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
rpds-py==0.19.1
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.10.2
sarif-om==1.0.4
setuptools==71.1.0
simplejson==3.19.2
six==1.16.0
soupsieve==2.5
sympy==1.13.1
tabulate==0.9.0
terminaltables==3.1.10
text-unidecode==1.3
thefuck==3.32
toml==0.10.2
tomlkit==0.13.0
twine==5.1.1
types-awscrt==0.21.2
types-python-dateutil==2.9.0.20240316
types-s3transfer==0.10.1
typing_extensions==4.12.2
tzlocal==5.2
urllib3==2.2.2
watchdog==4.0.1
wcwidth==0.2.13
Werkzeug==3.0.3
wheel==0.43.0
xmltodict==0.13.0
yarl==1.9.4
zipp==3.19.2
