adal==1.2.7
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
anyio==4.5.0
attrs==24.2.0
azure-common==1.1.28
azure-core==1.31.0
azure-graphrbac==0.61.1
azure-identity==1.18.0
azure-mgmt-authorization==4.0.0
azure-mgmt-core==1.4.0
azure-mgmt-resource==23.1.1
azure-mgmt-resourcegraph==8.0.0
boto3==1.35.23
botocore==1.35.23
britive==4.1.3
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
circuitbreaker==2.0.0
colorama==0.4.6
cryptography==42.0.8
Deprecated==1.2.14
frozenlist==1.4.1
google-api-core==2.20.0
google-api-python-client==2.146.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud==0.34.0
google-cloud-iam==2.15.2
googleapis-common-protos==1.65.0
grpc-google-iam-v1==0.13.1
grpcio==1.66.1
grpcio-status==1.66.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.2
hyperframe==6.0.1
idna==3.10
importlib_metadata==8.4.0
isodate==0.6.1
jmespath==1.0.1
microsoft-kiota-abstractions==1.3.3
microsoft-kiota-authentication-azure==1.1.0
microsoft-kiota-http==1.3.3
microsoft-kiota-serialization-form==0.1.1
microsoft-kiota-serialization-json==1.3.2
microsoft-kiota-serialization-multipart==0.1.0
microsoft-kiota-serialization-text==1.0.0
msal==1.31.0
msal-extensions==1.2.0
msgraph-core==1.1.3
msgraph-sdk==1.8.0
msrest==0.7.1
msrestazure==0.6.4.post1
multidict==6.1.0
oauthlib==3.2.2
oci==2.134.0
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
pendulum==3.0.0
portalocker==2.10.1
proto-plus==1.24.0
protobuf==5.28.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
PyJWT==2.9.0
pyOpenSSL==24.2.1
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
s3transfer==0.10.2
simplejson==3.19.3
six==1.16.0
sniffio==1.3.1
std-uritemplate==1.0.6
time-machine==2.15.0
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.3
wrapt==1.16.0
yarl==1.11.1
zipp==3.20.2
